html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0px;
}

header {
    color: #ffbe00;
    text-align: center;
}

article {
    width: 100%;
    height: 100%;
}

article .emo {
    width: 500px;
    height: 500px;
    margin: auto;
}